<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/" id="logo">
            <img src="/images/coffee_bean.svg" width="40" height="40" alt="">
            the grind
        </a>
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/articles" class="btn btn-light">Scrape news</a>
            </li>
            </ul>
        </div>
    </div>
</nav>